<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center; font-weight: bolder;">
    <ion-title>
      MICDA TP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button [routerLink]="['/calcul']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">Calcul</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button [routerLink]="['/callNumber']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">Call Number</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button [routerLink]="['/camera']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">Camera Preview</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button [routerLink]="['/barcodeScanner']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">barcode Scanner</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button [routerLink]="['/admob']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">Admob</ion-button>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-button [routerLink]="['/sms']" routerLinkActive="router-link-active" shape="round" expand="block" color="secondary">Sms</ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>




</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: center; font-weight: bolder;">
    <ion-label>AZHAR EL HAR</ion-label>
  </ion-toolbar>
</ion-footer>